# Postgres DB paroli uchun alohida env fayl
# docker-compose.prod.yml bu fayldan o'qiydi
# BU FAYL GIT GA KIRMAYDI (.gitignore da bor)

POSTGRES_PASSWORD=CHANGE_ME_STRONG_DB_PASSWORD
PGPASSWORD=CHANGE_ME_STRONG_DB_PASSWORD
